/* Coolors Exported Palette - https://coolors.co/d7c9aa-f0f3f5-ff5714-5296a5-153243 */

/* CSS HEX 
--dun: #d7c9aaff;
--antiflash-white: #f0f3f5ff;
--giants-orange: #ff5714ff;
--blue-munsell: #5296a5ff;
--prussian-blue: #153243ff;

/* CSS HSL 
--dun: hsla(41, 36%, 75%, 1);
--antiflash-white: hsla(204, 20%, 95%, 1);
--giants-orange: hsla(17, 100%, 54%, 1);
--blue-munsell: hsla(191, 34%, 48%, 1);
--prussian-blue: hsla(202, 52%, 17%, 1);

/* SCSS HEX 
$dun: #d7c9aaff;
$antiflash-white: #f0f3f5ff;
$giants-orange: #ff5714ff;
$blue-munsell: #5296a5ff;
$prussian-blue: #153243ff;
*/

/* SCSS HSL 
$dun: hsla(41, 36%, 75%, 1);
$antiflash-white: hsla(204, 20%, 95%, 1);
$giants-orange: hsla(17, 100%, 54%, 1);
$blue-munsell: hsla(191, 34%, 48%, 1);
$prussian-blue: hsla(202, 52%, 17%, 1);
*/

/* SCSS RGB */
$dun: rgba(215, 201, 170, 1);
$antiflash-white: rgba(240, 243, 245, 1);
$giants-orange: rgba(255, 87, 20, 1);
$blue-munsell: rgba(82, 150, 165, 1);
$prussian-blue: rgba(21, 50, 67, 1);

/* SCSS Gradient 
$gradient-top: linear-gradient(0deg, #d7c9aaff, #f0f3f5ff, #ff5714ff, #5296a5ff, #153243ff);
$gradient-right: linear-gradient(90deg, #d7c9aaff, #f0f3f5ff, #ff5714ff, #5296a5ff, #153243ff);
$gradient-bottom: linear-gradient(180deg, #d7c9aaff, #f0f3f5ff, #ff5714ff, #5296a5ff, #153243ff);
$gradient-left: linear-gradient(270deg, #d7c9aaff, #f0f3f5ff, #ff5714ff, #5296a5ff, #153243ff);
$gradient-top-right: linear-gradient(45deg, #d7c9aaff, #f0f3f5ff, #ff5714ff, #5296a5ff, #153243ff);
$gradient-bottom-right: linear-gradient(135deg, #d7c9aaff, #f0f3f5ff, #ff5714ff, #5296a5ff, #153243ff);
$gradient-top-left: linear-gradient(225deg, #d7c9aaff, #f0f3f5ff, #ff5714ff, #5296a5ff, #153243ff);
$gradient-bottom-left: linear-gradient(315deg, #d7c9aaff, #f0f3f5ff, #ff5714ff, #5296a5ff, #153243ff);
$gradient-radial: radial-gradient(#d7c9aaff, #f0f3f5ff, #ff5714ff, #5296a5ff, #153243ff);
*/
